<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563318387410-6hrdcuu8fmb0ddgtseo93p8ksnvthbrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563318387410-6hrdcuu8fmb0ddgtseo93p8ksnvthbrl</string>
	<key>API_KEY</key>
	<string>AIzaSyA997jE5KmZdZG03_9I9kNjdXlvIF_h9Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>563318387410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>emreyasa.FlashCards</string>
	<key>PROJECT_ID</key>
	<string>flashcards-ca255</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcards-ca255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563318387410:ios:288149b793e1a04c9a730b</string>
</dict>
</plist>